@import '../../scss/index.scss';

.search-bar{
    &__form{
        display: flex;  
        justify-content: space-evenly;
        align-items: center;
        padding: 20px 10px 2px 1px;
        
        &__input{
            width: 50%;
            margin: 20px 10px 2px 1px;    
            height: 30px;
        }
    
        &__button{
            margin: 20px 10px 2px 1px;
            height: 30px;
        }
     
       
    }
    
}