@import '../../scss/index.scss';


.login{
    background-color: $background-default;
    
    &__content{
        display:flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        background-color: $background-default;
    }
}