@import '../../scss/index.scss';

.topbar{
    display: flex;
   

    button{
        color: $font-light;

        &:hover{
            color: $primary-color;
        }
        &:focus,
        &:active{
            color: $font-light;
        }
    }
    
    &__left{
        &-logo{
            display: inline;
            width: 80px;
            padding: 0 5px;
            margin-left: 0;
        }
        
    }

    &__right{
        position: absolute;
        right: 0;
    }
    
}