@import '../../scss/index.scss';

.country-info{
    padding: 100px 10px;
   
    &__container{
        
        &__details.inter{
            background-color: rgb(211, 207, 207);
            transition: all 0.5s;
            padding: 5px;
            box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
            img{
                width: 15px;
                padding-bottom: 2px;
            }
        }

        &__details:hover{
           
            background-color: rgba(0,0,0,0.3);
            cursor: pointer;
        }
    }
}

.button-fav{
    background-color: #d3cfcf;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
    button{
        width: 100%;
        background-color: #d3cfcf;
    }
}